#glcanvas {
    width: 500px;
    height: 500px;
    padding: 0px;
    background-color: black;
    border: none;
}

#main-container {
    width: 100%;
    text-align: center; }

#id-title {
    width: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.not-selectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
    background-color: #c5baaf;
}